* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Mustica";
    src: url(/assets/fuente/MusticaPro-SemiBold.otf);
}

.container {
    background-color: #424141;
    ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mustica";
    flex-direction: row;
    text-align: center;
}

body {
    background-color: #737373;
    font-family: "Mustica";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

footer {
    background-color: #424242;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container img {
    position: absolute;
    left: 10;
    top: 16px;
}

.imagen-contendora {
    width: 150px;
    height: auto;
}

.cajas {
    background-color: #4f4f4f;
    margin: 30px 70px 5px;
    height: 250px;
    width: 250px;
    border-radius: 30px;
    line-height: 200px;
    box-shadow: 5px 5px 10px;
    color: #00000094;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    display: flex;
}

.productos {
    display: flex;
    flex-flow: row wrap;
    width: 1400px;
    margin: 5% auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    display: flex;
}

.textos-alineados {
    text-align: center;
    padding: 0px 30px;
}

.flecha {
    margin-left: 10px;
}

.center {
    margin: 0 auto;
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    footer {
        position: fixed;
        bottom: 0;
        height: 10px;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    body {
        overflow-x: hidden;
        width: 100%;

    }

    .productos {
        width: 100%;

    }

    .cajas {
        margin: 0 5px;
        margin-bottom: 10px;
        width: 190px;
        height: 190px;
    }

    .textos-alineados {
        margin-bottom: 10px;
    }

    .imagen-contendora {
        width: 10px;
    }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        position: fixed;
        bottom: 0;
        height: 10px;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .productos {
        width: 100%;
    }

    .cajas {
        margin: 0 5px;
        margin-bottom: 10px;
        width: 190px;
        height: 190px;
    }

    .textos-alineados {
        margin-bottom: 10px;
    }

    .imagen-contendora {
        max-width: 160px;
        height: auto;
    }
}