.header {
    font-family: "Mustica";
    background-color: #424141;
    height: 80px;
    line-height: 30px;

    .accesorios {
        position: absolute;
        top: 10px;
        left: 820px;
        color: #000000;
        font-size: 35px;
    }
}

.center {
    text-align: center;
    display: flex;
}