.header {
    font-family: "Mustica";
    background-color: #424141;
    height: 80px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}
.h1-centrado {
    position: absolute;
    top: 10px;
    left: 820px;
    color: #a90000;
    text-shadow: 5px 5px 25px #a90000;
}
