.container-3{
    background-color: #424141;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mustica";
    flex-direction: row;
    text-align: center;
}