.sobre-nosotros1{
    position: absolute;
    top: 10px;
    left: 750px;
    color: #2e2e2e;
    font-size: 35px;
    width: 300px;
}
.separacion{
        text-align: center;
        margin: 60px;
}
.imagen-centrada {
    display: flex;
    justify-content: center;

    img {
        width: 250px;
    }
}