*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: "Mustica";
    src:url(/assets/fuente/MusticaPro-SemiBold.otf);
}
.container{
    background-color: #424141;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mustica";
    flex-direction: row;
    text-align: center;
}
body{
    background-color: #737373;
    font-family: "Mustica";
    font-weight: 400;
    font-style: normal;
}
footer{
    background-color: #424242;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.acomode-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    margin-top: 40px;
}
.container img{
    position: absolute;
    left: 10;
    top: 16px;
}
.center {
    margin: 0 auto;
}

.flecha {
    margin-left: 10px;
}
/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    footer {
        position: fixed;
        bottom: 0;
        height: 10px;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        }
        .acomode-lista{
        font-size: 10px;
        }
        .center{
            font-size: 20px;
        }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        position: fixed;
        bottom: 0;
        height: 10px;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        }
        .acomode-lista{
        font-size: 10px;
        }
}